@tailwind base;
@tailwind components;
@tailwind utilities;

.apilist{
  background-image: url("../public/pexels-simon-berger-1323550.jpg ");
  background-size: cover;
}


@font-face {
  font-family: "burtons";
  src: url("./Burtons.otf");
}

